version: '3'
services:
  
  inewgent_res:
    image: nginx:1.13.0-alpine
    container_name: inewgent_res
    ports:
      - "9001:80"
    volumes:
      - .:/var/www/html/website
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      network-inewgent:

networks:
  network-inewgent:
    external: true